@vw: 19.20vw;
@border-width: (10px / @vw);
@padding-large: (500px / @vw);
@padding-big: (300px / @vw);
@padding-small: (200px / @vw);
@padding-mini: (100px / @vw);
@shadow: rgba(192, 192, 211, 0.1);


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.preloader-indicator {
    width: 250px;
    height: 2px;
    background-color: rgb(174, 174, 174);
    overflow: hidden;
    z-index: 2;
}

@keyframes fill-preloader {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.preloader-fill {
    height: 100%;
    background-color: #081c3a;
    animation: fill-preloader 1s ease forwards;
}

.preloader-top,
.preloader-bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: white;
    transition: transform 1s ease;
}

.preloader-top {
    top: 0px;
    transform: translateY(0);
}

.preloader-bottom {
    bottom: 0px;
    transform: translateY(0);
}

.page-content {
    position: relative;
    z-index: 1;
}


/* scroll-indicator */
.scroll-indicator {
    /* position */
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    overflow: hidden;
    width: (1500px / @vw);
    padding-top: (1500px / @vw);
    padding-bottom: (500px / @vw);
    z-index: 11;

    /* display */
    display: grid;
    align-content: space-between;
    justify-content: center;
    align-items: center;


    border-right: 1px solid rgba(192, 192, 211, 0.2);
}

.indicator-wrapper {
    overflow: hidden;

    width: (40px / @vw);
    height: (8000px / @vw);
    margin-top: (600px / @vw);
    margin-bottom: (700px / @vw);
    border-radius: (100px / @vw);
    background-color: rgba(192, 192, 211, 0.2);

    justify-self: center;

    position: relative;
    z-index: 35;

    .indicator {
        width: (40px / @vw);
        height: (1600px / @vw);
        border-radius: (100px / @vw);
        background-color: rgba(192, 192, 211);
        position: absolute;
        top: 0;
        z-index: 36;
    }
}

.side-social-icons {
    display: grid;
    grid-row-gap: (100px / @vw);
}

.side-social-icon {
    width: (550px / @vw);
    height: (550px / @vw);
    padding: (140px / @vw);
    border: 1px solid rgba(192, 192, 211, 0.2);
    border-radius: 100px;
    background-color: rgba(174, 174, 192, 0.05);

    display: flex;
    justify-content: center;
}



@media screen and (max-width:767px) {
    .scroll-indicator {
        display: none;
    }
}

// @media screen and (max-width:991px) {
//     .scroll-indicator {
//         width: 65px;
//         padding-top: 65px;
//     }
// }

/* navbar */
.navbar {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 12;

    display: flex;
    justify-content: center;

    border-bottom: 1px none rgba(192, 192, 211, 0.2);
    background-color: transparent;
}

.top-nav-container {
    position: fixed;
    top: 0;
    background-color: #fff;
    transition: height 0.5s linear;
    z-index: 10;

    width: 100%;
    height: 0px;
}

/* left menu */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10002;
    background-color: #fff;

    width: (1500px / @vw);
    height: (1500px / @vw);
    text-align: center;
}


#menu-icon {
    z-index: 10001;
    line-height: 80px;
}


.menu-container {
    position: fixed;
    top: 0%;
    left: 0%;
    right: auto;
    bottom: 0%;

    background-color: white;

    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.5s ease;

    .menu-content {
        position: relative;
        z-index: 10;
        display: grid;
        width: (8000px / @vw);
        padding: (1500px / @vw) 0px 0px;

        justify-content: space-between;

        overflow-y: auto;
        align-items: stretch;
        grid-auto-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: (800px / @vw);
    }
}

.menu-container.open {
    transform: translateX(0);
}

.scroll-menu-wrapper {
    overflow-y: auto;

    max-height: 80vh;
    margin-right: 12px;
}

.vacation-continents {
    display: grid;
    padding: 0px 24px 36px 80px;

    flex-direction: column;
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 48px;

    .info-box {
        padding: 0px;

        .subtitle-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 18px;
        }
    }
}

.menu-heading {
    padding-left: 80px;
}

.continent-list,
.destination-list,
.contact-list {
    list-style: none;
}


.continent-item,
.destination-item,
.contact-item {
    margin: 10px 0;
}

.continent-item>a,
.destination-item>a {
    position: relative;
    display: grid;
    overflow: hidden;
    height: 100%;
    padding: 24px 18px 24px 24px;

    border: 1px solid rgba(192, 192, 211, 0.2);
    border-radius: 4px;
    align-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;

    grid-template-columns: 1fr auto;

    grid-template-rows: auto;
    background-color: transparent;

    background-image: none;
    background-size: 100%;
    background-position: center;
    transition: background-size 1s ease, transform 0.5s ease;
    color: #081c3a;
    text-decoration: none;
}

.continent-item>a.africa:hover {
    background-image: url(../images/607dd011e021d45c28b27a10_021.jpeg);
}

.continent-item>a.asia:hover {
    background-image: url(../images/607dcd2961c3e396968aac28_031.jpeg);
}

.continent-item>a.europe:hover {
    background-image: url(../images/607dcebe459b2b2910bdb3cd_015.jpeg);
}

.destination-item>a.france:hover {
    background-image: url(../images/607dcd1ef1d9b0b767714525_001.jpeg);
}

.destination-item>a.indonesia:hover {
    background-image: url(../images/607dcd2961c3e396968aac28_031.jpeg);
}

.destination-item>a.greece:hover {
    background-image: url(../images/607dcd3355581e17e093caed_011.jpeg);
}

.destination-item>a.egypt:hover {
    background-image: url(../images/607dd011e021d45c28b27a10_021.jpeg);
}

.continent-item>a:hover,
.destination-item>a:hover {
    background-size: 120%;
    color: #fff;

    transform: scale(1.1);

    .overlay {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        background-color: rgba(15, 19, 38, 0.55);
    }
}

.contact-item>a {
    color: #081c3a;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    transform: translateX(0px);
    transition: transform 1s ease;
}

.contact-item>a:hover {
    transform: translateX((500px / @vw));
}


.contact-item:hover {
    transform: translateX(0px) scale(1);
    transition: transform 1s ease;
}

.contact-item:hover {
    transform: scale(1.1);
}

.location-name {
    position: relative;
    z-index: 10;
    display: grid;
    overflow: hidden;

    flex-direction: column;

    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 9px;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.arrow-icon img {
    width: 16px;
    height: 16px;
    margin-left: 10px;

    position: relative;
    z-index: 10003;
}

.contact-item {
    display: grid;
    padding: 18px;
    grid-auto-columns: 1fr;
    grid-column-gap: (50px / @vw);
    grid-row-gap: (50px / @vw);
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(192, 192, 211, 0.2);
    border-radius: 5px;
    background-color: #f7f8fc;
    color: #081c3a;
    text-decoration: none;
}

.menu-social-media {
    padding: 20px;
    display: flex;
    align-items: center;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: (500px / @vw);
        height: (500px / @vw);
        background-color: #f7f8fc;
        border: (10px / @vw) solid rgba(192, 192, 211, 0.2);
        border-radius: 100%;

        img {
            width: 50%;
            height: 50%;
            transition: width 0.5s ease;
        }

        img:hover {
            width: 60%;
            height: 60%;
        }
    }
}

.social-media a {
    margin: (100px / @vw);
}

/* top nav */
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;

    /* z-index: 20; */

    position: absolute;
    top: 18px;
}

/* brand */
.brand {

    color: white;
    font-family: Eudoxussans, sans-serif;
    font-size: 22px;
    font-weight: 800;

    letter-spacing: -0.02em;
    text-decoration: none;
    text-transform: uppercase;
}

.brand,
.nav-button-toggle {
    transition: color 0.5s ease;
    z-index: 30;

    position: relative;
}



/* mid nav */
.mid-nav {

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 15;
    padding-left: 80px;
    line-height: 80px;
    width: 100%;
    background-color: #fff;

    height: 0;
    overflow: hidden;
    transition: height 0.5s liner;
    position: relative;
}

.nav-link {
    text-decoration: none;
    padding: 0px 10px;
    color: #081c3a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    z-index: 25;
    position: relative;
}

.nav-menu-links {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;


    width: 100%;
    height: 80px;
    opacity: 0;
    transition: opacity 0.5s ease;

    cursor: pointer;
    z-index: 20;
    position: relative;

}

/* right nav */
.right-nav {
    z-index: 20;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    position: relative;
}

.nav-button {
    position: relative;
    z-index: 10;

    width: 175px;

    background-color: hsla(0, 0%, 100%, 0);
    color: #081c3a;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
}

.nav-button-toggle {
    cursor: pointer;

    padding: 12px 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(192, 192, 211, 0.2);
    border-radius: 3px;

    width: 100%;
    height: 100%;

    color: white;

    transition: color 0.5s ease, opacity 0.5s ease;
}

.dropdown-text {
    text-align: center;
}

.dropdown-icon span {
    vertical-align: middle;
}

.dropdown-list {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.5s ease;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
}

.dropdown-list.open {
    opacity: 1;
    visibility: visible;
    display: flex;
    margin-top: (500px / @vw);
    justify-content: flex-end;
}

.dropdown-container {
    display: grid;
    min-height: (3800px / @vw);
    min-width: (8600px / @vw);
    padding: (380px / @vw);
    grid-auto-columns: 1fr;
    grid-column-gap: (180px / @vw);
    grid-row-gap: (160px / @vw);
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    border-radius: (120px / @vw);
    background-color: #fff;
    box-shadow: 0 (60px / @vw) (480px / @vw) (-40px / @vw) rgba(53, 64, 117, 0.1);
}

.dropdown-list-ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;

    a {
        text-decoration: none;
        padding: @padding-big @padding-small @padding-big @padding-big;
        overflow: hidden;
        position: relative;
        display: grid;
        overflow: hidden;
        height: 100%;
        align-content: center;
        grid-auto-columns: 1fr;
        grid-column-gap: (160px / @vw);
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        border-style: solid;
        border-width: (10px / @vw);
        border-color: rgba(192, 192, 211, 0.2);
        border-radius: (40px / @vw);
        background-image: none;
        color: #081c3a;

        background-size: 100%;
        background-position: center;
        transition: background-size 2s ease, transform 1s ease;

        .card-arrow {
            position: relative;
            z-index: 36;
        }
    }

    a:hover {
        background-size: 120%;
        transform: scale(1.05);
        color: #fff;

        .overlay {
            position: absolute;
            left: 0%;
            top: 0%;
            right: 0%;
            bottom: 0%;
            background-color: rgba(15, 19, 38, 0.55);
        }
    }

    a:hover.france {
        background-image: url('../images/607dcd1ef1d9b0b767714525_001.jpeg');
    }

    a:hover.indonesia {
        background-image: url('../images/607dcd2961c3e396968aac28_031.jpeg');
    }

    a:hover.greece {
        background-image: url('../images/607dcd3355581e17e093caed_011.jpeg');
    }

    a:hover.egypt {
        background-image: url('../images/607dd011e021d45c28b27a10_021.jpeg');
    }

}

.location-name h4 {
    text-transform: none;
}

.subtitle-container {
    display: flex;
    flex-direction: row;
}

/* home hero */
.home-hero {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100vh;
    align-items: stretch;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transition: opacity 0.3s linear;

    .overlay {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        background-color: rgba(15, 19, 38, 0.55);
    }
}

.home-hero-container {
    position: relative;
    z-index: 10;

    display: grid;
    width: 100%;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: minmax(80px, 1fr) minmax(auto, 1400px) minmax(80px, 1fr);
    grid-template-rows: 1fr;

    /* home hero content */
    .home-hero-content {
        position: relative;
        display: grid;
        padding-top: 92px;
        padding-bottom: 152px;
        padding-left: 80px;

        align-content: space-between;
        grid-auto-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        grid-template-columns: 1fr 360px;

        grid-template-rows: 1fr auto;
        color: #fff;

        z-index: 25;

        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-row-start: 1;
        justify-self: stretch;
        align-self: stretch;

        /* home hero intro */
        .home-hero-intro {
            position: relative;
            z-index: 20;
            display: grid;
            max-width: 550px;
            grid-auto-columns: 1fr;
            grid-column-gap: 16px;
            grid-row-gap: 48px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            align-self: center;
            justify-self: start;
            grid-column-start: span 1;
            grid-column-end: span 1;
            grid-row-start: span 1;
            grid-row-end: span 1;

            .home-hero-title {
                display: grid;
                grid-auto-columns: 1fr;
                grid-column-gap: 16px;
                grid-row-gap: 24px;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;

                h1 {
                    font-size: 68px;
                    line-height: 5rem;
                }
            }


            a {
                padding: 1rem 2rem;
                border-radius: 5px;
                max-width: 159px;
            }
        }

        /* hero video button */
        .hero-video-button {
            position: relative;
            z-index: 25;
            display: flex;
            justify-content: center;
            align-items: center;
            width: (5000px / @vw);
            height: (5000px / @vw);
            margin-top: -36px;

            justify-self: center;
            align-self: center;

            grid-area: 1 / 2 / 2 / 3;


            .inner-button {
                position: absolute;

                width: (3500px / @vw);
                height: (3500px / @vw);

                border: 1px dashed #ccc;
                border-radius: 50%;

                transition: all 1s;

                cursor: pointer;

                .inner-play {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: (2100px / @vw);
                    height: (2100px / @vw);

                    border: 1px solid #fff;
                    border-radius: 50%;

                    margin: (700px / @vw) auto;
                    background-color: rgba(255, 255, 255, .2);

                    transition: all 1s;

                    img {
                        width: 20%;
                        height: 20%;
                    }
                }
            }

            .inner-button.active {
                background-color: #fff;
                transform: scale(0.8, 0.8);
            }

            .inner-play.active {
                background-color: #081c3a;
            }

            video {
                position: absolute;
                opacity: 0;
                transform: scale(0.5, 0.5);
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                transition: all 1s;
            }

            video.active {
                opacity: 1;
                transform: scale(1, 1);
            }

            .light-outer,
            .dark-outer {
                position: absolute;
                width: (5000px / @vw);
                height: (5000px / @vw);
                border-radius: 50%;
                z-index: -10;
                opacity: 0;
                transition: all 1s;
            }

            .dark-outer {
                z-index: -20;
            }

            .light-outer.active {
                opacity: 1;
                background-color: #525a76;
                animation: wave1 1s infinite alternate;
            }

            .dark-outer.active {
                opacity: 1;
                background-color: #37415f;
                animation: wave2 1s infinite alternate;
            }
        }

        @keyframes wave1 {
            form {
                transform: scale(1, 1);
            }

            to {
                transform: scale(1.2, 1.2);
            }
        }

        @keyframes wave2 {
            form {
                transform: scale(1, 1);
            }

            to {
                transform: scale(1.4, 1.4);
            }
        }

    }

}


/* home-hero-subtitle */
.home-hero-subtitle {
    position: relative;
    z-index: 10;
    display: grid;
    grid-auto-columns: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;

    grid-area: 2 / 2 / 3/ 3;
}

/* hero-slider-arrow */


.hero-slider-arrow {
    position: absolute;

    right: 360px;
    bottom: 0%;

    display: flex;
    width: 70px;
    height: 70px;

    justify-content: center;

    align-items: center;
    border-style: solid none none;
    border-width: 1px;
    border-color: rgba(192, 192, 211, 0.2) hsla(0, 0%, 100%, 0.6) hsla(0, 0%, 100%, 0.6);

    background-color: #fff;

    cursor: pointer;

    z-index: 26;
}

.hero-slider-arrow.right {
    bottom: 70px;
    border-bottom-style: none;
    border-top-left-radius: 5px;
}

.hero-slider-arrow img {
    height: 24px;
    width: 24px;
}

@keyframes arrow-translate-right {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10px);
    }
}

.hero-slider-arrow.right:hover img {
    animation: arrow-translate-right 1s ease;
}

@keyframes arrow-translate-left {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-10px);
    }
}

.hero-slider-arrow.left:hover img {
    animation: arrow-translate-left 1s ease;
}

.hero-sliders {
    display: flex;
}

.home-hero-container .slide-bottom {
    position: absolute;
    bottom: 0%;
    right: 0px;

    z-index: 26;
    background-color: #f7f8fc;

    width: 360px;
    height: 140px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px (800px / @vw);

    .location-details {
        display: inline-block;
        position: relative;
        z-index: 26;
        color: #081c3a;
        transform: scale(1);
        transition: transform 1s ease;
    }

    .location-details:hover {
        transform: scale(1.1);
    }

    .to-the-location {
        display: inline-block;
        line-height: 140px;
    }

    .to-the-location {
        display: inline-block;
        line-height: 140px;
        transform: translateX(0px);
        transition: transform 1s ease;
    }

    .to-the-location:hover {
        transform: translateX((200px / @vw));
    }
}

// destinations-section
.destinations-section {
    margin: (3000px / @vw) 0px (1000px / @vw) (1500px / @vw);

    // destinations-heading
    .destinations-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: (3000px / @vw) 0 (1600px / @vw) 0;

        h1 {
            font-size: 3rem;
            margin: (800px / @vw) 0px;
        }
    }

    // destinations slide (use swiper)
    .destinations-slide {
        margin: 0px 0px (4000px / @vw) 0px;

        .swiper {
            overflow: visible;
            position: relative;

            .buttons {
                position: absolute;
                width: (2900px / @vw);
                height: (1200px / @vw);
                left: 50%;
                transform: translate(-50%);
                z-index: 1;

                .swiper-button-next,
                .swiper-button-prev {
                    background-color: rgb(255, 255, 255);
                    width: (1200px / @vw);
                    height: (1200px / @vw);
                    align-items: center;
                    border: solid 1px #efeff7;
                    border-radius: 100%;
                }

                .swiper-button-next:after {
                    content: '\e5c8';
                    font-family: 'Material Symbols Outlined';
                    color: #081c3a;
                    font-size: medium;
                }

                .swiper-button-prev:after {
                    content: '\e5c4';
                    font-family: 'Material Symbols Outlined';
                    color: #081c3a;
                    font-size: medium;
                }
            }

            .swiper-slide {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                color: #fff;
                transition: all 1s;
                overflow: hidden;

                img {
                    position: relative;
                    border-radius: (50px / @vw);
                }

                .gradient-overlay {
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    right: 0%;
                    bottom: 0%;

                    background-image: linear-gradient(to top, rgba(15, 19, 38, 0.6) 10%, transparent 100%);

                    border-radius: (50px / @vw);
                    z-index: 1;
                }

                .titles {
                    position: absolute;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin: (200px / @vw) 0 (500px / @vw) 0;

                    z-index: 201;

                    .title {
                        font-size: (400px / @vw);
                        transition: font-size 0.5s ease;
                    }

                    .subtitle {
                        font-size: (150px / @vw);
                        transition: font-size 0.5s ease;
                    }
                }
            }

            .swiper-slide:hover .title {
                font-size: (500px / @vw);
            }

            .swiper-slide:hover .subtitle {
                font-size: (200px / @vw);
            }

            .swiper-slide-active {
                transform: scale(1.3);
            }
        }

    }

}

// benefits section
.benefits-section {
    margin: 0px 0px 0px (1500px / @vw);
    background-color: #efeff7;

    .intro-wrapper {
        padding: (2800px / @vw) (1500px / @vw);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: (500px / @vw);

        .intro-content {
            display: flex;
            flex-direction: column;
            margin-right: (800px / @vw);
            padding: (200px / @vw);

            h1 {
                margin: (400px / @vw) 0px;
            }

            .benefits-text {
                font-size: 600;
            }

            .intro-dropdown-button {
                margin-top: (400px / @vw);
                position: relative;

                .button {
                    max-width: (6000px / @vw);
                }

                .button:hover {
                    background-color: #081c3a;
                }

                .dropdown-list {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.8s ease, visibility 0.5s ease;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                }

                .dropdown-list.open {
                    opacity: 1;
                    visibility: visible;
                    display: flex;
                    margin-top: (500px / @vw);
                    justify-content: flex-start;
                }
            }

        }

        .intro-right-img {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            border-radius: 3px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @benefits-lines-color: rgba(192, 192, 211, 0.2);

    .benefits-bottom {
        padding: 0px (1500px / @vw) (2800px / @vw);

        .benefits-box {
            margin-top: (500px / @vw);
            display: grid;
            grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
            border: @border-width solid @benefits-lines-color;
            border-radius: (180px / @vw);
            background-color: #fff;

            .benefits-card {
                padding: @padding-large;
                display: grid;
                grid-template-rows: 1fr 1fr auto;
                gap: @padding-big;
                align-items: end;
                transition: all 0.5s;

                .benefits-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: (1000px / @vw);
                    height: (1000px / @vw);
                    padding: @padding-small;
                    background-color: #f7f8fc;
                    border: @border-width solid @benefits-lines-color;
                    border-radius: 100%;

                    span {
                        display: block;
                    }
                }
            }

            .benefits-card:hover {
                border-radius: (180px / @vw);
                background-color: #fff;
                transform: scale(1.1);
                z-index: 1;
                box-shadow: 0px @padding-small @padding-small @padding-small @shadow;
            }

            .verticle-line {
                position: relative;
                height: 100%;
                background-color: @benefits-lines-color;
            }
        }
    }
}

// testimonial section
.testimonial-section {
    background-image: url(../images/beach_cabin.jpeg);
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-top: (3500px / @vw);
    padding-bottom: (5200px / @vw);
    width: 100%;

    .slider-wrapper {
        position: relative;
        margin-left: (1500px / @vw);
        padding-right: (5000px / @vw);

        z-index: 2;

        display: grid;
        row-gap: (800px / @vw);

        .testimonial-tracker {
            grid-area: 1/ 1/ 5/ 2;

            height: 100%;
            display: flex;

            .scrollbar-track {
                overflow: hidden;
                height: 100%;
                width: (50px / @vw);

                border-radius: (100px / @vw);

                .scrollbar-fill {
                    position: relative;
                    top: 0%;

                    width: 100%;
                    height: 20%;
                    border-radius: (100px / @vw);
                    background-color: #fff;

                    transition: top 1s ease;
                }
            }

            ul {
                margin: 0 @padding-big;
                list-style: none;
                height: 100%;

                display: grid;
                grid-template-rows: repeat(5, 1fr);
                align-items: center;

                color: #fff;
            }
        }

        .testimonial-slide {
            grid-area: 1/ 2/ 4/ 5;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            color: #fff;
            text-align: center;

            .body-display {
                font-size: (350px / @vw);

                line-height: 1.6em;
                font-weight: 400;
                transition: all 1s;

                max-width: (10000px / @vw);
            }

            .testimonial-client {
                font-size: (400px / @vw);
                font-weight: 600;

                margin-top: (600px / @vw);
                transition: all 1s;
            }
        }

        .buttons {
            grid-area: 4/ 2/ 5/ 5;

            position: relative;
            left: 50%;
            width: (2900px / @vw);
            height: (1200px / @vw);
            transform: translate(-50%);
            z-index: 3;

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: @padding-big;

            .slide-button-next,
            .slide-button-prev {
                background-color: rgb(255, 255, 255);
                width: (1200px / @vw);
                height: (1200px / @vw);

                border: solid 1px #efeff7;
                border-radius: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .slide-button-next::after {
                content: '\e5c8';
                font-family: 'Material Symbols Outlined';
                color: #081c3a;
                font-size: medium;
            }

            .slide-button-prev::after {
                content: '\e5c4';
                font-family: 'Material Symbols Outlined';
                color: #081c3a;
                font-size: medium;
            }
        }
    }

    //a dark layer on the background
    .overlay {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        background-color: rgba(15, 19, 38, 0.55);
    }
}


// vacations section
@gray-dot: #e6e6f3;
@dark-dot: rgb(8, 28, 58);

.vacations-section {
    position: relative;

    margin-left: (2000px / @vw);
    margin-right: (1500px / @vw);
    margin-top: -(1500px / @vw);

    z-index: 1;

    display: grid;
    grid-template-rows: auto;
    gap: @padding-big;

    .subtitle-intro-wrapper {
        display: flex;
        flex-direction: row;

        .subtitle {
            color: #fff;
        }
    }

    .popular-vacations {
        background-color: #fff;
        border-radius: (100px / @vw);
        padding: (800px / @vw);

        .vacations-tab-menu {
            display: flex;
            justify-content: space-around;
            position: relative;

            margin-bottom: (1200px / @vw);

            .tab-location {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 1fr 1fr;
                gap: @padding-big;

                position: relative;

                .membership-circle {
                    width: ( 500px / @vw);
                    height: ( 500px / @vw);
                    position: absolute;
                    bottom: -( 250px / @vw);
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 5;

                    .membership-dot {
                        width: ( 250px / @vw);
                        height: ( 250px / @vw);

                        background-color: @gray-dot;
                        border-radius: 50%;

                        position: absolute;
                        left: 50%;
                        top: 50%;

                        transform: translate(-50%, -50%);
                        z-index: 8;
                    }

                    .membership-outline-circle {
                        width: ( 250px / @vw);
                        height: ( 250px / @vw);

                        position: absolute;
                        left: 50%;
                        top: 50%;

                        border-radius: 50%;
                        border: @border-width solid @gray-dot;
                        
                        background-color: #fff;

                        transition: all 2s;
                        transform: translate(-50%, -50%) scale(1, 1);
                    }
                }
            }

            .tab-location.active {
                .membership-dot{
                    background-color: @dark-dot;
                }
            }

            .tab-location.selected {
                .membership-outline-circle {
                    border: @border-width solid @dark-dot;
                    transform: translate(-50%, -50%) scale(3, 3);
                }
            }

            .location-indicator {
                position: absolute;
                bottom: 0;

                width: 100%;
                height: (20px / @vw);

                background-color: @gray-dot;
                z-index: 0;
            }

            .location-indicator-fill{
                position: absolute;
                bottom: 0;
                left: 0;

                width: 25%;
                height: (20px / @vw);

                background-color: @dark-dot;

                transition: width 2s ease;
            }
        }

        .vacations-cards {
            display: none;

            .vacations-card {
                display: grid;
                grid-template-rows: 1fr auto;
                row-gap: (500px / @vw);

                padding: (300px / @vw);
                border: (10px / @vw) solid @gray-dot;
                border-radius: (200px / @vw);
                background-color: #fff;

                transition: transform 0.5s ease;

                .card-img {
                    position: relative;
                    height: 100%;

                    min-height: (4500px / @vw);

                    border-radius: (200px / @vw);
                    background-color: #516381;

                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;
                        transition: all 0.5s;
                    }
                }

                .card-info {
                    padding-bottom: @padding-big;

                    h3 {
                        padding-bottom: @padding-big;
                    }

                    p {
                        color: #516381;
                    }
                }

                .card-details {
                    border-top: (10px / @vw) solid @gray-dot;
                    padding-top: @padding-big;

                    display: flex;
                    justify-content: space-between;

                    .vacation-price {
                        display: flex;
                        flex-direction: column;
                        align-content: center;

                        .subtitle.small {
                            font-size: (130px / @vw);
                            letter-spacing: (40px / @vw);
                        }

                        .dynamic-price {
                            display: flex;
                        }
                    }

                    .button {
                        padding: (120px / @vw) (300px / @vw);
                        border-radius: (50px / @vw);

                        font-size: (200px / @vw);

                        letter-spacing: (30px / @vw);
                        border: (10px / @vw) solid @gray-dot;
                    }

                    .button:hover {
                        background-color: #081c3a;
                        color: #fff;
                    }
                }
            }

            .vacations-card:hover {
                border: none;
                transform: scale(1.05);
                box-shadow: 0px @padding-mini @padding-mini @padding-mini rgba(192, 192, 211, 0.3);
            }

            .vacations-card:hover .card-img img {
                transform: scale(1.1);
            }
        }

        .vacations-cards.active {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: (500px / @vw);
        }
    }

}